.HeaderWrapper {
  @include box(100vw, 101px);
  @include make-flex($dir: row);
  background: #0f162173;
  backdrop-filter: blur(50px);
  z-index: 10;
  transition: 0.2s;
  position: fixed;
  top: 0;
  padding: 0 20px;

  &--small {
    height: 70px;
    border-bottom: 1px solid #878a90;
    z-index: 0;
    justify-content: right !important;
  }

  #NavBarInput,
  .hamButton {
    display: none;
  }

  @include respondAt(1090px) {
    padding: 0 10px;
  }

  @include respondAt(915px) {
    justify-content: space-between;
    padding: 0px 20px 0 8px;
    height: 70px;
  }

  &__logo {
    display: none;
    font-family: "Sequel100Black-55";
    font-size: 28px;
    a {
      padding: 13px;
      @include make-flex();
      img {
        height: 25px;
      }
    }
    @include respondAt(915px) {
      display: block;
    }
  }

  &__Menu {
    gap: 10px;
    max-width: 1500px;
    @include box();
    @include make-flex($dir: row, $just: space-around);
    @include respondAt(915px) {
      top: 0;
      right: 0;
      gap: unset;
      width: 100%;
      height: 100vh;
      position: fixed;
      max-width: 290px;
      flex-direction: column;
      padding: 101px 28px 0 24px;
      background-color: #0f1621;
      justify-content: flex-start;
      transform: translateX(100%);
      border-left: 4px solid #cafa0a;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      &--open {
        transform: translateX(0%);
      }
      &--hide {
        display: none;
      }
    }
    // @include respondAt(995px) {
    //   gap: 3px;
    // }
  }

  &__MenuList {
    @include box();
    @include make-flex($just: space-between, $dir: row);
    &--item {
      list-style: none;
      min-width: 103px;
      // height: 39px;
      @include make-flex();

      @include respondAt(915px) {
        width: 100%;
        height: 45px;
      }
    }

    &--center {
      font-family: "Sequel100Black-55";
      a {
        font-size: 30px;
        padding: 13px 0;
        @include make-flex();
        img {
          height: 35px;
          width: 227px;

          @include respondAt(1030px) {
            height: 27px;
          }
        }
      }

      @include respondAt(915px) {
        display: none;
      }
    }

    &--left,
    &--right {
      gap: 4px;
      font-size: 19px;
      @include box(35%);
      font-family: "Sequel100Black-55";
      @include make-flex($just: space-between, $dir: row);

      @include respondAt(1090px) {
        width: 40%;
      }

      @include respondAt(915px) {
        width: 100%;
        flex-direction: column;
        height: unset;
        gap: 10px;
        justify-content: space-evenly;
      }
      a {
        line-height: 100%;
        padding: 11px 13px;
        position: relative;
        max-height: 39px;
        border: 1px solid transparent;
        font-size: 17px;

        @include respondAt(915px) {
          width: 100%;
        }

        &:before {
          transition: transform 0.2s ease-in-out;
          z-index: -1;
          @include box();
          content: "";
          position: absolute;
          border: 1px solid transparent;
          top: 0;
          left: 0;
          transform: translate(0px, 0px);
        }

        &:hover,
        &:focus {
          outline: none;
          background-color: #0f1621;
          border: 1px dashed #cafa0a;

          &:before {
            border: 1px dashed #ffffff;
            transform: translate(3px, 3px);
          }
        }
      }

      .route {
        &--highlight {
          
          &:before {
            transition: transform 0.2s ease-in-out;
            z-index: -1;
            @include box();
            content: "";
            position: absolute;
            border: 1px solid transparent;
            top: 0;
            left: 0;
            border: 1px dashed #ffffff;
            transform: translate(3px, 3px);

            // animation: HoverEffect 1s ease-in-out infinite;
          }

          outline: none;
          background-color: #0f1621;
          border: 1px dashed #cafa0a;
        }

        &--active {
          background-color: #cafa0a;
          color: #0f1621;
          border: 1px solid transparent;

          &:before {
            z-index: -1;
            @include box();
            content: "";
            position: absolute;
            background-color: #ffffff;
            transform: translate(3px, 3px);
          }
          &:hover,
          &:focus {
            outline: none;
            border: 1px solid transparent;

            background-color: #cafa0a;
            color: #0f1621;

            &:before {
              z-index: -1;
              @include box();
              content: "";
              position: absolute;
              background-color: #ffffff;
              transform: translate(3px, 3px);
            }
          }
        }
      }
    }
  }

  &__Hamburger {
    @include respondAt(915px) {
      height: 28px;
      width: 28px;
      z-index: 2;
    }
  }
  #NavBarInput {
    @include respondAt(915px) {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      height: 28px;
      margin: 0;
      width: 28px;
    }
  }
  .hamButton {
    @include respondAt(915px) {
      z-index: 1;
      width: auto;
      height: 28px;
      @include make-flex();
      label {
        height: 100%;
        margin: unset;
        @include make-flex($just: space-around);
        span {
          width: 28px;
          display: block;
          transform-origin: 4px 0px;
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          border-top: 3px solid rgb(255, 255, 255);
          border-radius: 10px;
          &:first-child {
            transform-origin: 0% 0%;
          }
          &:nth-last-child(2) {
            transform-origin: 0% 100%;
          }
        }
      }
    }
  }

  #NavBarInput:checked ~ .hamButton > label > .span.HL1 {
    opacity: 1;
    transform: rotate(45deg) translate(3px, -4px);
  }
  #NavBarInput:checked ~ .hamButton > label > .span.HL2 {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #NavBarInput:checked ~ .hamButton > label > .span.HL3 {
    transform: rotate(-45deg) translate(4px, 0px);
  }
}

@keyframes HoverEffect {
  // make hover effect
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(3px, 3px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
