.ResetPasswordWrapper {
  gap: 20px;
  padding: 10px 30px 20px;
  @include box($height: auto);
  @include make-flex($just: flex-start, $align: stretch);

  &__row {
    @include make-flex();
    gap: 7px;
    &--error {
      color: #fe5349;
      font-family: Roboto;
      width: 100%;
    }
    label {
      font-size: 19px;
      width: 100%;
      line-height: 19px;
      font-family: "Sequel100Black-65";
      margin-bottom: 2px;
      @include respondAt(500px) {
        font-size: 15px;
      }
    }
    input {
      font-size: 19px;
      font-family: "Sequel100Black-55";
      width: 100%;
      height: 45px;
      border-radius: 4.77px;
      background-color: transparent;
      border: 1px solid white;
      padding: 7px 10px;

      @include respondAt(500px) {
        font-size: 16px;
      }
    }
  }

  &__forgotPassword {
    width: 100%;
    text-align: end;
    font-size: 15px;
    line-height: 20px;
    font-family: "Sequel100Black-55";
    color: rgba(255, 255, 255, 0.7);
    &:hover {
      color: white;
    }

    @include respondAt(500px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  &__button {
    @include make-flex($dir: row, $just: center);
    button {
      cursor: pointer;
      border: 0px;
      background-color: white;
      color: black;
      font-family: "Sequel100Black-65";
      font-size: 18px;
      padding: 0px 16px;

      @include respondAt(500px) {
        font-size: 15px;
      }
    }
  }
  &__signup {
    @include make-flex($dir: row, $just: center);
    gap: 10px;

    @include respondAt(500px) {
      margin-top: 10px;
    }

    &--text {
      font-size: 18px;
      font-family: "Sequel100Black-55";
      color: rgba(255, 255, 255, 0.7);
      line-height: 20px;

      @include respondAt(500px) {
        font-size: 14px;
      }
      @include respondAt(365px) {
        font-size: 10px;
      }
    }
    a {
      color: rgba(255, 255, 255, 1);
      text-decoration: underline;
      font-family: "Sequel100Black-55";
      font-size: 18px;
      line-height: 20px;

      @include respondAt(500px) {
        font-size: 14px;
      }
      @include respondAt(365px) {
        font-size: 10px;
      }
    }
  }
}
