.Blogs {
	@include make-flex($dir: column, $just: space-between, $align: flex-start);
  @include box(100%, auto);
	max-width: 1500px;
	gap: 20px;
	
	&__title {
		padding-left: 40px;
		
		h1 {
			font-family: "Sequel100Black-105", "Helvetica", "Impact";
			font-size: 60px;
			line-height: 110%;
		}
		
		h3 {
			font-family: "Sequel100Black-55", "Helvetica", "Impact";
			font-size: 30px;
		}
	}
	
	&__container {
		// @include box(100%, auto);
		// @include make-flex($dir: row, $align: flex-start);
		// gap: 40px;
		@include make-flex($dir: row, $just: flex-start, $align: flex-start);
    overflow-x: auto;
    padding-bottom: 15px;
    @include box();
	}
	
	&__blogCard {
		@include box(440px, auto);
		@include make-flex($dir: column, $align: center);
		background-color: rgba(35, 55, 97, 0.4705882353);
		border-radius: 20px;
		border: 1px solid rgba($color: #fff, $alpha: 0.5);
		flex-shrink: 0;
		padding: 20px;
		margin: 10px 20px;
		gap: 20px;
		
		img {
			object-fit: cover;
			border-radius: 20px;
		}
		
		p {
			font-family: "Sequel100Black-55", "Helvetica", "Impact";
			font-size: 20px;
			line-height: 110%;
			text-align: center;
		}
	}
}