.GInputWrapper {
  @include box(100%, auto);
  position: relative;

  input {
    @include box($height: 45px);
    @include make-flex($just: flex-start);
    border: none;
    outline: none;
    font-size: 17px;
    color: #fff;
    padding: 7px 10px;
    background-color: var(--GInput-BG);
    border-radius: 5px;
    border: 1.5px solid #8f8f8f;

    &:focus ~ label {
      top: 0%;
      color: #cafa08;
    }

    &:disabled {
      cursor: not-allowed;
      color: #8f8f8f;
    }

    &:focus {
      border: 1.5px solid #cafa08;
      color: #cafa08;
    }

    &:not(:placeholder-shown) ~ label {
      top: 0%;
      color: #fff;
    }
    &:-webkit-autofill,
    &:-webkit-autofill ~ label,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      box-shadow: 0 0 0 30px var(--GInput-BG) inset;
      color: #fff;
      -webkit-box-shadow: 0 0 0 30px var(--GInput-BG) inset;
      -webkit-text-fill-color: #fff;
      font-size: 17px;
      caret-color: #fff;
    }
  }

  & > label {
    top: 50%;
    transform: translate(0, -50%);
    left: 10px;
    padding: 0 5px;
    border-radius: 6px;
    position: absolute;
    color: #b5b5b5;
    background-color: var(--GInput-BG);
    font-size: 17px;
    transition: 0.2s;
    pointer-events: none;
  }
}
