.Faqs {
  &__heading {
    &--title {
      font-family: "Sequel100Black-65";
      font-size: 30px;
      width: 200px;
      color: rgba(202, 250, 8, 1);
      z-index: 10;
      display: inline;
      padding-right: 20px;
    }
    hr {
      bottom: 30px;
      right: -165px;
      width: 650px;
      position: relative;
      z-index: 1;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  &__content {
    background-color: rgba(35, 55, 97, 0.3);
    border-radius: 15px;
    padding-bottom: 5px;
    &--top {
      display: flex;
      justify-content: space-evenly;
      margin-top: 20px;
      &__team {
        margin-top: 30px;
        background: #0f1621;
        border: 1px solid #ffffff;
        box-shadow: 5px 5px 0px #c4f750;
        border-radius: 15px;
        &--data {
          font-size: 20px;
          margin: 30px 200px 10px 20px;
        }
        &--value {
          font-size: 15px;
          margin: 10px 200px 30px 20px;
        }
      }
      &__cost {
        margin-top: 30px;
        background: #0f1621;
        border: 1px solid #ffffff;
        box-shadow: 5px 5px 0px #c4f750;
        border-radius: 20.5037px;
        &--data {
          font-size: 20px;
          margin: 30px 200px 10px 20px;
        }
        &--value {
          font-size: 15px;
          margin: 10px 200px 30px 20px;
        }
      }
    }
    &--bottom {
      &__question {
        display: flex;
        justify-content: space-between;
        background: #0f1621;
        border: 1px solid #ffffff;
        box-shadow: 5px 5px 0px #c4f750;
        border-radius: 15px;
        margin: 40px 40px 40px 40px;
        &--text {
          font-size: 20px;
          margin: 20px 0px 20px 10px;
        }
        &--image {
          margin-right: 30px;
          width: 20px;
        }
      }
    }
  }
}
