.ContactPage__container {
  @include make-flex($dir: column, $just: flex-start);
  @include box($height: unset);
  &--top {
    @include make-flex($dir: column, $just: center);
    width: 850px;
    text-align: center;
    @include respondAt(810px) {
      width: 750px;
    }
    @include respondAt(510px) {
      width: 440px;
    }
    @include respondAt(375px) {
      width: 310px;
    }
    &__title {
      font-family: "Sequel100Black-105", "Helvetica", "Impact";
      color: #ffffff;
      font-size: 40px;
      @include respondAt(810px) {
        font-size: 35px;
      }
      @include respondAt(620px) {
        font-size: 20px;
      }
      @include respondAt(510px) {
        font-size: 20px;
      }
      @include respondAt(375px) {
        line-height: 30px;
      }
      span {
        font-family: "Sequel100Black-86", "Helvetica", "Impact";
        color: #cafa08;
        font-size: 40px;
        @include respondAt(810px) {
          font-size: 35px;
        }
        @include respondAt(620px) {
          font-size: 20px;
        }
      }
    }
    &__description {
      font-family: Satoshi Variable, "Satoshi", sans-serif;
      font-weight: 500;
      font-size: 20px;
      @include respondAt(810px) {
        font-size: 17px;
      }
      @include respondAt(620px) {
        font-size: 15px;
      }
      @include respondAt(375px) {
        margin-top: 18px;
      }
    }
  }
  &--tabs {
    @include make-flex($dir: row, $just: center);
    
    &__active {
      font-family: "Sequel100Black-65", "Helvetica", "Impact";
      background-color: #ff4f46;
      border: 2.04px solid #ffffff;
      border-radius: 74px;
      padding: 7px 30px 7px 30px;
      margin: 50px 30px 30px 30px;
      @include respondAt(375px) {
        margin-top: 25px;
        margin-bottom: 20px;
      }
      cursor: pointer;
    }
    &__unactive {
      font-family: "Sequel100Black-65", "Helvetica", "Impact";
      border: 2.04px solid #ffffff;
      border-radius: 74px;
      padding: 7px 30px 7px 30px;
      margin: 50px 30px 30px 30px;
      cursor: pointer;
      @include respondAt(375px) {
        margin-top: 25px;
        margin-bottom: 20px;
      }
    }
  }
  &--contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70vw;
    @include respondAt(375px) {
      width: 50vw;
    }
    &__card {
      margin: 30px 40px 30px 40px;
      background-color: #151f34;
      display: flex;
      flex-direction: column;
      border: 1.13677px solid #ffffff;
      border-radius: 23.404px;
      &--top {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          width: 100px;
          height: 100px;
          border-radius: 100px;
          margin: 20px;
          @include respondAt(375px) {
            width: 70px;
            height: 70px;
            border-radius: 120px;
          }
        }
        &__details {
          display: flex;
          flex-direction: column;
          margin-right: 70px;
          padding-right: 70px;
          &--name {
            font-family: Satoshi Variable, "Satoshi", sans-serif;
            color: #ffffff;
            font-size: 25px;
            font-weight: 900;
            margin-bottom: 10px;
            @include respondAt(375px) {
              font-size: 20px;
            }
          }
          &--position {
            font-family: Satoshi Variable, "Satoshi", sans-serif;
            font-weight: 500;
            font-size: 15px;
            color: rgba(255, 255, 255, 0.5);
            @include respondAt(375px) {
              font-size: 8px;
            }
          }
        }
      }
      &--bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &__call {
            cursor: pointer;
          text-align: center;
          background: #cafa08;
          border-radius: 11.1448px;
          color: rgba(0, 0, 0, 1);
          font-size: 17px;
          font-family: Satoshi Variable, "Satoshi", sans-serif;
          padding: 10px 30px 10px 30px;
          margin: 20px;
          @include respondAt(620px) {
            font-size: 10px;
          }
          @include respondAt(510px) {
            font-size: 10px;
          }
          @include respondAt(375px) {
            width: 140px;
            margin: 10px;
            font-size: 12px;
          }
        }
        &__mail {
            cursor: pointer;
          text-align: center;
          background: #193559;
          border-radius: 11.1448px;
          font-size: 17px;
          font-family: Satoshi Variable, "Satoshi", sans-serif;
          padding: 10px 65px 10px 65px;
          color: #ffffff;
          margin: 20px;
          @include respondAt(620px) {
            font-size: 10px;
          }
          @include respondAt(510px) {
            font-size: 10px;
          }
          @include respondAt(375px) {
            width: 170px;
            padding: 10px 50px 10px 50px;
            margin: 10px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
