.GalleryPage {
  @include make-flex($dir: column, $just: space-between);
  @include box($height: unset);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #0f1621;
  min-height: 100vh;

  h3 {
    font-family: "Sequel100Black-65";
    font-size: 25px;
    line-height: 100%;
    text-transform: capitalize;
    font-style: italic;
    text-align: center;
    color: #cafa08;
  }

  &__container {
    @include box(100%, 100%);
    max-width: 1500px;
    position: relative;
    margin-top: 123px;
    @include make-flex();
    padding: 100px 55px 100px;

    @include respondAt(480px) {
      padding: 0px 17px 80px;
    }
  }
}
