.LandingPage {
  @include make-flex($dir: column, $just: flex-start);
  @include box($height: unset);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #0f1621;
  .HeroSection {
    @include box(100vw, 700px);
    max-width: 1500px;
    position: relative;
    margin-top: 101px;
    @include make-flex($dir: row);

    @include respondAt(1518px) {
      width: 90vw;
    }

    @include respondAt(915px) {
      margin-top: 70px;
    }

    @include respondAt(610px) {
      // height: calc(80vh - 123px);
      // height: calc(60vh - 123px);
      height: 600px;
    }
    @include respondAt(500px) {
      height: 450px;
    }

    &__left {
      @include box(65%);
      border-radius: 30px 0 0 30px;
      position: relative;

      &::after {
        top: 0;
        left: 0;
        content: "";
        @include box();
        position: absolute;
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0) 25%,
          #121922d8 100%
        );
      }

      @include respondAt(810px) {
        width: 100%;
        border-radius: 20px;
      }
    }
    &__right {
      @include box(35%);
      mix-blend-mode: exclusion;
      transform: rotate(179.5deg);
      object-fit: cover;

      @include respondAt(810px) {
        display: none;
      }
    }
    &__top {
      @include box();
      position: absolute;
      top: 0;
      right: 0;
      @include make-flex($align: flex-end);
      gap: 60px;

      @include respondAt(500px) {
        gap: 40px;
      }

      &--heading {
        font-family: "Sequel100Black-105", "Helvetica", "Impact";
        color: #fff;
        font-size: 75px;
        line-height: 100%;
        font-weight: 900;
        padding-right: 10%;
        margin: 0 auto;

        span {
          color: #cafa08;
        }

        @include respondAt(1070px) {
          font-size: 60px;
        }

        @include respondAt(810px) {
          padding: 0 20px;
          width: 100%;
        }
        @include respondAt(735px) {
          font-size: 50px;
        }
        @include respondAt(620px) {
          font-size: 40px;
        }
        @include respondAt(510px) {
          font-size: 7.5vw;
        }
      }

      &--text {
        padding-right: 10%;
        width: 50%;
        font-family: "Satoshi", sans-serif;
        font-size: 19px;
        @include respondAt(1070px) {
          width: 60%;
        }

        @include respondAt(810px) {
          padding: 0 20px;
          width: 100%;
        }
        @include respondAt(510px) {
          font-size: 15px;
        }
      }

      &--date {
        padding-right: 10%;
        font-family: "BLACKHAWK";
        font-size: 60px;
        text-align: center;

        p {
          color: #cafa08;
        }
      }

      &--actionContainer {
        width: 100%;
        @include make-flex($align: center);
        margin-top: 50px;
        
        @include respondAt(500px) {
          margin-top: 0;
        }

        p {
          font-family: "BLACKHAWK";
          font-size: 55px;
          color: #cafa08;
        }

        @include respondAt(880px) {
          width: 100%;
          // padding: 0 20px;
          // align-items: flex-end;
        }
        @include respondAt(550px) {
          p {
            font-size: 7.5vw;
          }
        }
        // @include respondAt(510px) {
        //   align-items: center;
        // }
      }

      &--action {
        @include make-flex($dir: row);
        height: 50px;
        background: rgba(255, 255, 255, 0.04);
        border-width: 1px 1px 1px 0px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.1);
        box-shadow: 14px 17px 50px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(20px);
        border-radius: 0px 40px 40px 0px;
        padding: 10px 20px 10px 10px;
        gap: 10px;
        font-family: "Sequel100Black-55";
        white-space: nowrap;

        img {
          height: 100%;
        }

        @include respondAt(880px) {
          border-radius: 40px;
        }
      }
    }
  }

  .BlogsSection {
    @include box(100vw);
    max-width: 1500px;
    position: relative;
    @include make-flex($dir: row);
    overflow: hidden;
    margin-top: 100px;
  }

  .AboutSection {
    @include box(100vw);
    max-width: 1500px;
    position: relative;
    min-height: 500px;
    margin-bottom: 60px;
    // @include make-flex($dir: row);
    @include make-flex($dir: column-reverse);
    // overflow: hidden;

    @include respondAt(1518px) {
      width: 90vw;
    }
    // @include respondAt(1385px) {
    // flex-direction: column-reverse;
    // }
    @include respondAt(915px) {
      min-height: unset;
      // margin-top: 80px;
      margin-bottom: 30px;
    }
    &__above {
      @include box(100%, unset);
      @include make-flex($just: flex-start, $align: flex-start);
      z-index: 2;
      // padding-left: 80px;
      // padding-top: 80px;
      gap: 20px;

      // @include respondAt(1385px) {
      position: relative;
      // height: unset;
      padding: 0;
      // }

      &--title {
        font-family: "Sequel100Black-105";
        font-size: 60px;
        line-height: 100%;

        span {
          color: #cafa08;
          font-family: "Sequel100Black-96";
        }
        @include respondAt(1200px) {
          font-size: 50px;
        }
        @include respondAt(1000px) {
          font-size: 40px;
        }
        @include respondAt(805px) {
          font-size: 30px;
        }
        @include respondAt(600px) {
          font-size: 5vw;
          line-height: 135%;
        }
      }

      &--text {
        font-family: "Satoshi", sans-serif;
        font-size: 20px;
        width: 75%;
        @include respondAt(1200px) {
          width: 60%;
        }
        @include respondAt(730px) {
          width: 80%;
        }
        @include respondAt(630px) {
          width: 100%;
        }
        @include respondAt(500px) {
          font-size: 15px;
          font-weight: 600;
        }
      }
      &--fancyLink {
        @include box(360px, 65px);
        @include make-flex();
        text-decoration: none;
        border: 2px solid #fff;
        border-radius: 100px;
        font-family: "Sequel100Black-55";
        margin-top: 15px;

        &:hover {
          background-color: #5284ff;
          color: #fff;
        }
        @include respondAt(401px) {
          width: 100%;
          height: 50px;
        }
      }
    }

    &__below {
      @include box(100%, unset);
      // @include make-flex($just: flex-end, $align: flex-end);
      @include make-flex($just: flex-start, $align: flex-start);
      // position: absolute;
      z-index: 1;
      // padding-right: 80px;
      // padding-bottom: 80px;

      // @include respondAt(1385px) {
      position: relative;
      // justify-content: flex-start;
      // align-items: flex-start;
      padding: 0;
      // height: unset;
      // }

      &--title {
        font-family: "Sequel100Black-105";
        font-style: normal;
        font-weight: 400;
        font-size: 120px;
        line-height: 138.8%;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #789fff;
        color: transparent;
        z-index: 1;
        @include respondAt(1000px) {
          font-size: 80px;
        }
        @include respondAt(550px) {
          font-size: 14vw;
        }
      }

      &--image {
        top: 0;
        right: -270px;
        position: absolute;
        @include box(370px, 370px);
        @include respondAt(915px) {
          // top: -140px;
        }

        @include respondAt(660px) {
          display: none;
        }
      }
    }
  }

  .RenegadeSection {
    @include box(100vw);
    max-width: 1500px;
    position: relative;
    // min-height: 100vh;
    max-height: 710px;
    margin-top: 70px;
    @include make-flex($dir: row);

    @include respondAt(1518px) {
      width: 90vw;
    }
    @include respondAt(915px) {
      min-height: unset;
      margin-top: 80px;
    }
  }

  .StatsSection {
    @include box(100vw);
    max-width: 1500px;
    position: relative;
    // min-height: calc(100vh - 70px);
    margin-top: 50px;
    @include make-flex($just: flex-start);

    @include respondAt(1518px) {
      width: 90vw;
    }
    @include respondAt(915px) {
      min-height: unset;
      // margin-top: 80px;
    }
  }
}

.DemoPage {
  @include box();
  @include make-flex();
  padding: 40px;
}
