.SchedulePage {
  &__left {
    margin-top: 100px;
    &--heading {
      &__title {
        // position: relative;
        font-family: "Sequel100Black-65";
        font-size: 30px;
        width: 100px;
        color: rgba(202, 250, 8, 1);
        z-index: 10;
        display: inline;
        padding-right: 20px;
      }
      hr {
        bottom: 30px;
        right: -265px;
        width: 550px;
        position: relative;
        z-index: 1;
        color: rgba(255, 255, 255, 0.6);
      }
    }
    &--timeline {
      background-color: rgba(35, 55, 97, 0.3);
      border-radius: 13px;
      padding-bottom: 20px;
      padding-right: 10px;
      // position: relative;

      &__heading {
        // font-family: 'Satoshi-Regular';
        font-size: 15px;
        color: rgba(255, 255, 255, 0.7);
        //   margin-bottom: 20px;
        padding-top: 20px;
        margin: 0px 25px 20px 25px;
      }
      &__slots {
        display: flex;
        background-color: rgba(15, 22, 33, 1);
        border: 1px solid #ffffff;
        box-shadow: 9px 9px 0px #c4f750;
        margin: 20px 20px 30px 20px;
        border-radius: 20.5037px;
        //   position: absolute;
        &--title {
          font-family: "Sequel100Black-65";
          margin: 15px 40px 15px 30px;
          font-size: 20px;
          color: white;
        }
        &--date {
          display: flex;
          align-items: center;
          border: 1px solid #ffffff;
          border-radius: 13px;
          margin: 15px 40px 15px 40px;
          padding: 0px 10px 0px 10px;
          img {
            width: 20px;
            margin-right: 5px;
          }
          &__text {
            font-size: 15px;
            color: rgba(255, 255, 255, 0.7);
          }
        }
        &--time {
          display: flex;
          align-items: center;
          border: 1px solid #ffffff;
          border-radius: 13px;
          margin: 15px 40px 15px 40px;
          padding: 0px 10px 0px 10px;
          img {
            width: 20px;
            margin-right: 5px;
          }
          &__text {
            font-size: 15px;
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
    }
  }
}
