.SponsorsPage {
  @include make-flex($dir: column, $just: flex-start);
  @include box($height: unset);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #0f1621;

  &__container {
    @include box(100%, auto);
    max-width: 1500px;
    position: relative;
    margin-top: 101px;
    @include make-flex($align: flex-start);
    padding: 0 55px 100px;

    @include respondAt(480px) {
      padding: 0px 17px 80px;
    }
  }

  &__section {
    @include box();
    @include make-flex($align: flex-start);
    gap: 20px;

    h2 {
      font-family: "Sequel100Black-65";
      font-size: 30px;
      line-height: 100%;
      text-transform: capitalize;
      text-align: center;
      color: #cafa08;
    }

    &--sponsContainer {
      @include box();
      @include make-flex($dir: row);
      flex-wrap: wrap;
      gap: 20px;
      padding: 15px;
    }

    &--spons {
      @include box(auto, 125px);
      @include make-flex();
      background-color: aliceblue;
      border-radius: 8px;
			flex-grow: 1;
      padding: 20px;
			min-width:250px;
      img {
				@include box(auto, 100%);
				max-width: 100%;
				max-height: 100%;
      }
    }
  }
}
