.TeamPage {
  @include make-flex($dir: column);

  background-color: #0f1621;

  @include box(100%, auto);
  max-width: 1500px;
  position: relative;
  margin-top: 123px;
  @include make-flex($align: center);
  @include respondAt(480px) {
    padding: 0px 17px 80px;
  }
  &__content {
    margin-top: 20vh;
    @include make-flex($dir: column);

    &__heading {
      text-align: center;
      font-family: Sequel100Black-105;
      font-size: 2.7rem;
      width: 50vw;
      &__change {
        color: #cafa08;
        font-family: Sequel100Black-86;
      }
    }
    &__desc {
      text-align: center;
      padding: 20px;
      font-size: 1.8rem;
      margin-bottom: 100px;
    }

    &__scrollbar {
      background-color: #363c45;
      width: 87vw;
      @include make-flex($dir: row);
      gap: 60px;
      border-radius: 40px;

      padding: 10px 40px 10px 40px;
      &__element {
        color: white;
        font-family: Sequel100Black-55;
        font-size: 18px;
        cursor: pointer;
        &:hover {
          color: #cafa08;
        }
      }
    }
  }
}
