.TeamPage {
  @include make-flex($dir: column);
  background-color: #0f1621;
  @include box(100%, auto);
  max-width: 1500px;
  position: relative;
  margin-top: 123px;
  @include make-flex($align: center);
  @include respondAt(480px) {
    padding: 0px 17px 80px;
  }
	
  &__content {
		@include box();
		@include make-flex($dir: column);
    margin-top: 150px;
		
		@include respondAt(850px) {
			margin-top: 40px;
		}
  }
	
	&__heading {
		@include box();
		text-align: center;
		font-family: Sequel100Black-105;
		font-size: 50px;
		line-height: 130%;
		
		&--green {
			color: #cafa08;
			font-family: Sequel100Black-86;
		}
		
		@include respondAt(850px) {
			font-size: 35px;
		}
	}
	
	&__desc {
		text-align: center;
		padding: 20px;
		font-size: 30px;
		margin-bottom: 100px;
		
		@include respondAt(850px) {
			font-size: 20px;
			margin-bottom: 40px;
		}
	}

	&__categories {
		@include box(85%);
		@include make-flex($dir: row);
		background-color: #363c45;
		gap: 60px;
		border-radius: 40px;
		border: 1px solid #fff;
		padding: 10px 40px;
		
		@include respondAt(1425px) {
			gap: 30px;
			padding: 10px;
		}		
	}
	
	&__category {
		cursor: pointer;
		background-color: transparent;
		border: none;
		
		color: white;
		font-family: Sequel100Black-55;
		font-size: 20px;
		white-space: nowrap;
		
		&:hover {
			color: #cafa08;
		}
		&--active {
			color: #cafa08;
		}
		
		@include respondAt(1250px) {
			font-size: 15px;
		}
	}
	
	&__grid {
		@include make-flex($dir: row);
		padding: 80px;
		gap: 50px;
		flex-wrap: wrap;
		
	}
	
	&__card {
		@include make-flex();
	}
	
	&__cardImg {
		width: 185px;
		border-radius: 10px;
	}
	
	&__cardName {
		font-family: "Poppins", sans-serif;
		font-size: 15px;
		padding-top: 10px;
		padding-bottom: 2px;
	}
	
	&__cardDesc {
		font-family: "Poppins", sans-serif;
		font-size: 12px;
		font-weight: 300;
		color: #cafa08;
	}
}
