$animationSpeed: 20s;

.slider {
  text-align: center;
  vertical-align: middle;
  max-height: 100px;
  // overflow: hidden;
  position: relative;
  width: 100%;
	max-width: 1500px;
  margin: 40px 0 20px 0;

  // @include respondAt(916px) {
  //   margin: 60px 0 20px 0;
  // }

  &::before,
  &::after {
    content: "";
    position: absolute;
    min-width: 500px;
    z-index: 2;
  }
  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }
 
  &__track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    // width: calc(500px * 1500);
		width: max-content;
		// background-color: red;

    &--item {
      padding: 0 60px;
			
			@include respondAt(580px) {
				padding: 0 30px;
			}
    }

    &--type1 {
      font-size: 80px;
      font-family: "BLACKHAWK";
      color: #5284ff;

      @include respondAt(580px) {
        font-size: 50px;
      }
    }
    &--type2 {
      font-size: 80px;
      font-family: "BLACKHAWK";
      color: #cafa08;
      @include respondAt(580px) {
        font-size: 50px;
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    // transform: translateX(calc(-250px * 10));
		transform: translateX(-50%);
  }
}
