@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200display=swap");

@font-face {
  font-family: "Rische";
  src: url("../../Assets/Fonts/Rische.otf"), local("Rische"), format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "BLACKHAWK Swash";
  src: url("../../Assets/Fonts/Blackhawk/BLACKHAWK Swash.ttf"),
    local("BLACKHAWK Swash"), format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "BLACKHAWK";
  src: url("../../Assets/Fonts/Blackhawk/BLACKHAWK.ttf"),
    local("BLACKHAWK Italic"), format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "BLACKHAWK";
  src: url("../../Assets/Fonts/Blackhawk/BLACKHAWK Italic.ttf"),
    local("BLACKHAWK"), format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-66";
  src: url("../../Assets/Fonts/SequelBlack/Sequel100Black-66.ttf"),
    local("Sequel 100 Black 66"), format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-76";
  src: url("../../Assets/Fonts/SequelBlack/Sequel100Black-76.ttf"),
    local("Sequel 100 Black 76"), format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-86";
  src: url("../../Assets/Fonts/SequelBlack/Sequel100Black-86.ttf"),
    local("Sequel 100 Black 86"), format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-75";
  src: url("../../Assets/Fonts/SequelBlack/Sequel100Black-75.ttf"),
    local("Sequel 100 Black 75"), format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-85";
  src: url("../../Assets/Fonts/SequelBlack/Sequel100Black-85.ttf"),
    local("Sequel 100 Black 85"), format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-55";
  src: url("../../Assets/Fonts/SequelBlack/Sequel100Black-55.ttf"),
    local("Sequel 100 Black 55"), format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-56";
  src: url("../../Assets/Fonts/SequelBlack/Sequel100Black-56.ttf"),
    local("Sequel 100 Black 56"), format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-46";
  src: url("../../Assets/Fonts/SequelBlack/Sequel100Black-46.ttf"),
    local("Sequel 100 Black 46"), format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-65";
  src: url("../../Assets/Fonts/SequelBlack/Sequel100Black-65.ttf"),
    local("Sequel 100 Black 65"), format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-45";
  src: url("../../Assets/Fonts/SequelBlack/Sequel100Black-45.ttf"),
    local("Sequel 100 Black 45"), format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-96";
  src: url("../../Assets/Fonts/SequelBlack/Sequel100Black-96.ttf"),
    local("Sequel 100 Black 96"), format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-115";
  src: url("../../Assets/Fonts/SequelBlack/Sequel100Black-115.ttf"),
    local("Sequel 100 Black 115"), format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-116";
  src: url("../../Assets/Fonts/SequelBlack/Sequel100Black-116.ttf"),
    local("Sequel 100 Black 116"), format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-95";
  src: url("../../Assets/Fonts/SequelBlack/Sequel100Black-95.ttf"),
    local("Sequel 100 Black 95"), format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-105";
  src: url("../../Assets/Fonts/SequelBlack/Sequel100Black-105.ttf"),
    local("Sequel 100 Black 105"), format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-106";
  src: url("../../Assets/Fonts/SequelBlack/Sequel100Black-106.ttf"),
    local("Sequel 100 Black 106"), format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
