@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300&display=swap");

@font-face {
  font-family: "Rische";
  src: url("../../public/Fonts/Rische.otf"), local("Rische");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "BLACKHAWK Swash";
  src: url("../../public/Fonts/Blackhawk/BLACKHAWK Swash.ttf"),
    local("BLACKHAWK Swash");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "BLACKHAWK";
  src: url("../../public/Fonts/Blackhawk/BLACKHAWK.ttf"),
    local("BLACKHAWK Italic");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "BLACKHAWK";
  src: url("../../public/Fonts/Blackhawk/BLACKHAWK Italic.ttf"),
    local("BLACKHAWK");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-66";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-66.ttf"),
    local("Sequel 100 Black 66");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-76";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-76.ttf"),
    local("Sequel 100 Black 76");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-86";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-86.ttf"),
    local("Sequel 100 Black 86");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-75";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-75.ttf"),
    local("Sequel 100 Black 75");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-85";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-85.ttf"),
    local("Sequel 100 Black 85");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-55";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-55.ttf"),
    local("Sequel 100 Black 55");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-56";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-56.ttf"),
    local("Sequel 100 Black 56");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-46";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-46.ttf"),
    local("Sequel 100 Black 46");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-65";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-65.ttf"),
    local("Sequel 100 Black 65");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-45";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-45.ttf"),
    local("Sequel 100 Black 45");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-96";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-96.ttf"),
    local("Sequel 100 Black 96");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-115";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-115.ttf"),
    local("Sequel 100 Black 115");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-116";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-116.ttf"),
    local("Sequel 100 Black 116");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-95";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-95.ttf"),
    local("Sequel 100 Black 95");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-105";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-105.ttf"),
    local("Sequel 100 Black 105");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-106";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-106.ttf"),
    local("Sequel 100 Black 106");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
