@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300&display=swap");

@font-face {
  font-family: "Rische";
  src: url("../../public/Fonts/Rische.otf");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "BLACKHAWK Swash";
  src: url("../../public/Fonts/Blackhawk/BLACKHAWK Swash.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "BLACKHAWK";
  src: url("../../public/Fonts/Blackhawk/BLACKHAWK.ttf");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "BLACKHAWK";
  src: url("../../public/Fonts/Blackhawk/BLACKHAWK Italic.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-66";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-66.ttf");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-76";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-76.ttf");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-86";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-86.ttf");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-75";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-75.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-85";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-85.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-55";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-55.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-56";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-56.ttf");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-46";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-46.ttf");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-65";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-65.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-45";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-45.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-96";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-96.ttf");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-115";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-115.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-116";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-116.ttf");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-95";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-95.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-105";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-105.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Sequel100Black-106";
  src: url("../../public/Fonts/SequelBlack/Sequel100Black-106.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
