.DashHeaderWrapper {
  @include box($height: fit-content);
  gap: 10px;
  display: grid;
  padding: 10px 50px 10px 20px;

  span {
    @include box($width: auto, $height: fit-content);
    flex-grow: 1;
  }

  &--title {
    border-top: rgba(244, 244, 244, 0.6) 1px solid;
  }

  &--green {
    span {
      color: #cafa08;
    }
  }

  &--cart {
    padding: 10px 20px 10px 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    @include respondAt(610px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      & > span:nth-child(2) {
        display: none;
      }
    }
    @include respondAt(510px) {
      grid-template-columns: 1fr 1fr 1fr;
      & > span:nth-child(2),
      & > span:nth-child(3) {
        display: none;
      }
    }
    @include respondAt(420px) {
      grid-template-columns: 1fr 1fr;
      & > span:nth-child(2),
      & > span:nth-child(3),
      & > span:nth-child(5) {
        display: none;
      }
    }
  }

  // &--events {
  //   grid-template-columns: 1fr 1fr 1fr;
  //   padding: 10px 20px 10px 20px;
  //   @include respondAt(457px) {
  //     grid-template-columns: 1fr 1fr;
  //     & > span:nth-child(3) {
  //       display: none;
  //     }
  //   }
  // }
}
