.Renegade {
  @include make-flex($dir: column, $just: space-between, $align: flex-start);
  @include box();
  gap: 30px;

  &__top {
    @include box($height: unset);
    max-height: 175px;
    @include make-flex($align: flex-start, $just: flex-start);
    position: relative;

    &--outlineTitle {
      font-family: "Sequel100Black-105";
      font-style: normal;
      font-weight: 400;
      font-size: 120px;
      line-height: 138.8%;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #789fff;
      color: transparent;
      z-index: 1;
      @include respondAt(1200px) {
        font-size: 100px;
        margin-top: 20px;
      }
      @include respondAt(975px) {
        font-size: 60px;
        margin-top: 40px;
      }
      @include respondAt(850px) {
        font-size: 50px;
        margin-top: 30px;
      }
      @include respondAt(580px) {
        font-size: 9vw;
      }
    }
    &--title {
      font-family: "Sequel100Black-105";
      font-size: 60px;
      position: absolute;
      width: 75%;
      text-align: right;
      top: 0;
      right: 0;
      z-index: 2;

      span {
        color: #cafa08;
        font-family: "Sequel100Black-96";
      }
      @include respondAt(1400px) {
        font-size: 50px;
      }
      @include respondAt(1075px) {
        font-size: 40px;
      }
      @include respondAt(850px) {
        font-size: 30px;
      }
      @include respondAt(805px) {
        position: relative;
        align-self: flex-end;
        line-height: 40px;
      }

      @include respondAt(650px) {
        font-size: 4vw;
      }
      @include respondAt(500px) {
        width: 100%;
      }
    }
  }

  &__middle {
    width: 60%;
    font-family: "Satoshi", sans-serif;
    font-size: 19px;
    margin-top: 7px;

    @include respondAt(805px) {
      width: 100%;
    }
    @include respondAt(500px) {
      font-size: 15px;
    }
  }

  &__cards {
    @include make-flex($dir: row, $just: flex-start, $align: flex-start);
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 15px;
    @include box();
  }

  &__bottom {
    @include make-flex($dir: row, $just: flex-end);
    width: 100%;
    gap: 20px;

    p {
      color: #fe5349;
      font-family: "BLACKHAWK";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;

      @include respondAt(800px) {
        font-size: 20px;
      }
    }
    &--arrow {
      position: relative;
      width: 75px;
      height: 25px;

      @include respondAt(800px) {
        width: 50px;
        height: 20px;
      }
    }
  }
}
