.AlertWrapper {
  @include box(100vw, 100vh);
  position: fixed;
  top: 0;
  left: 0;
  @include make-flex();
  z-index: 15;
  background: rgba(0, 0, 0, 0.49);
  backdrop-filter: blur(15px);

  @include respondAt(620px) {
    padding-top: 22px;
    justify-content: flex-start;
  }

  // &::-webkit-scrollbar {
  //   width: 2px;
  // }

  &__content {
    position: relative;
    @include make-flex($just: flex-start, $align: flex-start);
    border: 1px solid #cafa0a;
    border-radius: 7px;
    background-color: #0f1621;
    padding: 20px;

    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 40px);
    @include respondAt(620px) {
      overflow-y: auto;
    }
  }
  &--close {
    position: absolute;
    top: 7px;
    right: 14px;
    font-size: 30px;
    cursor: pointer;

    &:hover {
      color: #fe5349;
    }

    @include respondAt(400px) {
      top: 10px;
    }
  }
}
