.RegForm {
  @include box(100%, 100%);
  @include make-flex($dir: column, $align: flex-start);
  gap: 20px;

  &__form {
    @include box($height: auto);
    &--fieldsList {
      gap: 15px;
      padding: 10px 30px 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      overflow-y: auto;

      @include respondAt(785px) {
        grid-template-columns: 1fr;
      }

      @include respondAt(485px) {
        padding: 10px 0px 20px;
      }
    }

    &--player {
      @include box($height: auto);
      min-height: 130px;
      @include make-flex($just: flex-start, $align: flex-start);
      border-radius: 5px;
      padding: 20px;
      gap: 20px;
      background-color: #1d2b49;
      // border-top: 8px solid #fe5349;

      span {
        @include box(100%, fit-content);
        @include make-flex($dir: row, $just: space-between);
        gap: 15px;
        @include respondAt(535px) {
          flex-direction: column;
          align-items: flex-start;
        }
        h3 {
          line-height: 100%;
          font-size: 19px;
          font-family: "Sequel100Black-65";
        }

        button {
          cursor: pointer;
          border: 0px;
          background-color: #fe5349;
          color: rgb(0, 0, 0);
          font-family: "Sequel100Black-65";
          font-size: 15px;
          padding: 5px 10px;

          @include respondAt(535px) {
            width: 100%;
            padding: 5px 10px;
          }
        }
      }
    }

    &--fields {
      // @include make-flex($dir: row);
      display: grid;
      grid-template-columns: 1;
      @include box(100%, fit-content);
			// @include box();
      gap: 24px;
      flex-wrap: wrap;
    }
  }

  &__row {
    @include box();
    @include make-flex($align: flex-start);
    gap: 7px;
    &--error {
      color: #fe5349;
      font-family: Roboto;
      width: 100%;
    }
  }

  &__button {
    @include make-flex($dir: row, $just: center);
    button {
      cursor: pointer;
      border: 0px;
      background-color: white;
      color: black;
      font-family: "Sequel100Black-65";
      font-size: 18px;
      padding: 0px 16px;

      @include respondAt(500px) {
        font-size: 15px;
      }
    }
  }
}
