.RegForm {
	@include box(100%, 100%);
	@include make-flex($dir: column, $align: flex-start);
	gap: 20px;
	
	&__form {
		gap: 15px;
		padding: 10px 30px 20px;
		@include box($height: auto);
		@include make-flex($just: flex-start, $align: stretch);
		overflow-y: auto;
	}
	
	&__player {
		@include make-flex($dir: column, $align: flex-start);
		gap: 7px;	
	}
	
	&__row {
		@include box();
		@include make-flex($dir: row, $align: flex-start);
		gap: 7px;
		
		&--error {
      color: #fe5349;
      font-family: Roboto;
      width: 100%;
    }
    label {
      width: 100%;
      line-height: 19px;
      font-size: 19px;
      font-family: "Sequel100Black-65";

      @include respondAt(500px) {
        font-size: 15px;
      }
    }
    input {
      font-size: 19px;
      font-family: "Sequel100Black-55";
      width: 100%;
      height: 45px;
      border-radius: 4.77px;
      background-color: transparent;
      border: 1px solid white;
      padding: 7px 10px;

      @include respondAt(500px) {
        font-size: 16px;
      }
    }
	}
	
	&__button {
		@include make-flex($dir: row, $just: center);
    button {
      cursor: pointer;
      border: 0px;
      background-color: white;
      color: black;
      font-family: "Sequel100Black-65";
      font-size: 18px;
      padding: 0px 16px;

      @include respondAt(500px) {
        font-size: 15px;
      }
    }
	}
}